@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&display=swap");
:root {
  --font-family: Poppins, system-ui, -apple-sytem, sans-serif;
  --body-font: 1.1rem;
  --header-font: 14px;
  --line: 1.7;
  --body-bg: #fff;
  --primary: #0d6efd;
  --secondary: #000;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

body {
  font-family: var(--font-family);
  background-color: var(--body-bg);
  color: var(--secondary);
  font-size: var(--body-font);
  margin: 0;
  line-height: var(--line);
}

a {
  color: var(--primary);
}

svg {
  vertical-align: middle;
}

.container {
  --sm: 540px;
  --md: 720px;
  --lg: 960px;
  --xl: 1140px;
  --xxl: 1320px;
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 1400px) {
  .container {
    max-width: var(--xxl);
  }
}
.m-header {
  position: sticky;
  top: 0;
}

.navbar {
  --bg: #fff;
  --color: #111;
  --item-hover: rgba(0, 0, 0, 0.05);
  --item-active: rgba(0, 0, 0, 0.1);
  --input-bg: rgba(0, 0, 0, 0.05);
  background-color: var(--bg);
  color: var(--color);
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 14px;
}
.navbar .container {
  display: flex;
  align-items: center;
  height: 64px;
  position: relative;
}
.navbar .center-item {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}
.navbar .brand {
  margin-right: 1rem;
  z-index: 1;
}
.navbar .brand * {
  vertical-align: middle;
}
.navbar .menu {
  flex: 1;
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  z-index: 10;
}
.navbar .nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  height: 100%;
  background-color: var(--bg);
  transition-duration: 0.2s;
}
.navbar .nav-item {
  padding: 0 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.navbar .nav-item:hover {
  background-color: var(--item-hover);
}
.navbar .nav-item:active {
  background-color: var(--item-active);
}
.navbar .nav-item.active {
  box-shadow: 0 -2px var(--primary) inset;
}
.navbar .nav-link {
  align-items: center;
  text-decoration: none;
}
.navbar .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.navbar .search {
  flex: 1;
  display: flex;
  align-items: center;
  align-content: end;
  height: 100%;
  width: 100%;
  background-color: var(--bg);
}
.navbar .search:focus-within {
  position: absolute;
}
.navbar .search-form {
  width: 100%;
  text-align: right;
  position: relative;
}
.navbar .btn-search {
  position: absolute;
  padding: 0.4rem 0.5rem;
  cursor: text;
}
.navbar .search-input {
  font-size: 1.1rem;
  width: 130px;
  height: 36px;
  border-radius: 0.15rem;
  background-color: var(--input-bg);
  border: 0;
  transition-duration: 0.2s;
  padding: 0 0.7rem;
  padding-left: 2.5rem;
}
.navbar .search-input:focus {
  width: 100%;
  outline: 0;
  transition-duration: 0.2s;
  box-shadow: 0 -2px var(--primary) inset;
}
.navbar .navbar-toggler {
  display: none;
  padding: 0;
  margin-right: 0.5rem;
  outline: 0;
  border: 0;
  z-index: 10;
  background: unset;
  cursor: pointer;
}
.navbar .dark-toggle {
  padding: 0;
  margin-left: 0.5rem;
  outline: 0;
  border: 0;
  background: unset;
  cursor: pointer;
}
.navbar .icon.light {
  display: none;
}
.navbar .m-menu {
  position: fixed;
  left: -100%;
  top: 0;
  display: block;
  height: 100vh;
  background-color: var(--bg);
  transition-duration: 0.4s;
}
.navbar .m-menu.show {
  left: 0;
  box-shadow: 3px 0 1rem rgba(0, 0, 0, 0.1);
}
.navbar .m-header-nav {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0 1rem;
}
.navbar .m-nav {
  padding: 0;
  margin: 0;
}
@media (max-width: 991px) {
  .navbar .m-menu {
    width: 30%;
  }
  .navbar .nav {
    display: none;
  }
  .navbar .nav-item {
    height: 42px;
    padding-left: 1rem;
  }
  .navbar .nav-item.active {
    box-shadow: none;
  }
  .navbar .menu:focus-within {
    position: absolute;
    z-index: 1;
  }
  .navbar .search:focus-within {
    position: static;
  }
  .navbar .navbar-toggler {
    display: block;
  }
  .navbar .search-input:not(:focus-within) {
    width: 0;
    padding: 0 15px;
    background-color: transparent;
  }
}
@media (max-width: 767px) {
  .navbar .m-menu {
    width: 40%;
  }
}
@media (max-width: 575px) {
  .navbar .m-menu {
    width: 70%;
  }
}

.icon {
  fill: rgba(0, 0, 0, 0.5);
  height: 24px;
  width: 24px;
}

.dark:root {
  --body-bg: rgb(38, 49, 58);
  --primary: #76adff;
  --secondary: rgba(255,255,255,.8);
}
.dark .navbar {
  --bg: rgb(24, 32, 39);
  --color: rgba(255,255,255,.8);
  --input-bg: rgba(255,255,255,.1);
  --item-hover: rgba(255,255,255,.05);
  --item-active: rgba(255,255,255,.1);
}
.dark .icon {
  fill: rgba(255, 255, 255, 0.8);
}
.dark .icon.dark {
  display: none;
}
.dark .icon.light {
  display: block;
}

@media (prefers-color-scheme: dark) {
  root {
    --body-bg: rgb(38, 49, 58);
  }

  .navbar {
    --bg: rgb(24, 32, 39);
    --color: rgba($color: #fff, $alpha: 1);
  }

  .icon {
    fill: white;
  }
}

/*# sourceMappingURL=main.css.map */
